 h3{
    color:rgb(5, 150, 3);            /*specific shade of color alloted according to rgb system*/
} 

button{
    color:white;
    background-color: red;

}

body{
    background-color:white;
}

p{
    color:green;           /*all paragraphes will be written in green colour unless specified otherwise*/
}

#h001{
    color:chocolate; 
    background-color: black;      /*specific elements with given names can be given style*/
}
#h002{
    color:magenta;
}
#h003{
    color:orangered;
}

.intro{
    color:firebrick;             /*all elements with class as 'intro' will be given this color*/
}

#div1{
    background-color: aqua;
}

#pre1{
    color: black;
    text-align: center;
    text-decoration: underline;
}
#pre2{
    color: black;
    text-align: right;
    text-decoration-line:overline;
}
#pre3{
    color: black;
    text-align: left;
    text-decoration-line:underline;
}

#p111{
    text-decoration: red underline;
    text-align: center;
    color: black;

}

#p11{
    text-align: center;
    text-decoration: dotted blue underline;
}

#lorem{
    font-family: arial;
    color: brown;
text-align:center ;
}

#lorem2{
    font-family: cursive;

}
#fontsize{
    font-size: 50px;
}

#fontsize2{
    font-size: 10px;
}

#lh{
    line-height: 10;
    text-transform: uppercase;
}

#div2{
    #p1234{
        color: white;
    }
    height: 200px;
    width: 500px;
    background-color: blueviolet;
    margin: 20px;
    border-width: 5px;
    border-color: aqua;
    border-style: dashed;
    border-radius: 20px;         /*for curved corners of the border*/
    padding-left: 20px;          /*or simply write (padding:_px;) to get _px of padding on all 4 sides . To get specific paddings we can write (padding: 10px 20px 30px 40px;)*/
    
}
#div3{
    height: 200px;
    width: 200px;
    background-color:yellowgreen;
    border: 10px brown dotted;     /*three commands in a single line*/
    text-align: center;
    border-radius: 50%;   /*if div is a square & border radius is 50%,it becomes a circle*/
}


#div4{
    height: 200px;
   width:400px ;
   background-color: green;
   border: 5px black double;
   padding: 20px;
   border-radius: 15px;
}